<?xml version="1.0" encoding="utf-8"?>
<nlog autoReload="true"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>

		<!-- ALL LOGS Will be written into a file named Complete.log -->
		<target xsi:type="File"
				name="allFile"
				fileName="${basedir}/Logs/${shortdate}/Complete.log"
				createDirs="true"
				layout="${longdate}|${level}|${logger}|${message}" />

		<!-- DEBUG LOGS Will be written into a file named Debug.log -->
		<target xsi:type="File"
				name="debugFile"
				fileName="${basedir}/Logs/${shortdate}/Debug.log"
				createDirs="true"
				layout="${longdate}|${level}|${logger}|${message}" />

		<!-- ERROR LOGS Will be written into a file named Error.log -->
		<target xsi:type="File"
				name="errorFile"
				fileName="${basedir}/Logs/${shortdate}/Error.log"
				createDirs="true"
				layout="${longdate}|${level}|${logger}|${message} ${exception:format=tostring}" />

	</targets>

	<rules>

		<!-- Reduce framework noise -->
		<logger name="Microsoft.*" minlevel="Warning" final="true" />
		<logger name="System.*" minlevel="Warning" final="true" />

		<!-- All app logs -->
		<logger name="Logging.*" minlevel="Information" writeTo="allFile" />

		<!-- Debug only -->
		<logger name="Logging.*" minlevel="Debug" writeTo="debugFile" />

		<!-- Errors only -->
		<logger name="Logging.*" minlevel="Error" writeTo="errorFile" />

	</rules>

</nlog>
